# Clé API TypeSafe (console.typesafe.ai)
TYPESAFE_API_KEY=
# Port du pont WebSocket (garder 8765 sauf à modifier aussi extension/background.js)
# JEV_BRIDGE_PORT=8765
# Clés API addons.mozilla.org (https://addons.mozilla.org/developers/addon/api/key/), pour npm run sign
# WEB_EXT_API_KEY=
# WEB_EXT_API_SECRET=
